.wrapper_elements::-webkit-scrollbar {
  width: 12px;
}
.wrapper_elements::-webkit-scrollbar-track {
  background: #2F2F37;
}
.wrapper_elements::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}
.root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.active {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1c1c21;
  border: 1px solid #8585AD;
  border-radius: 32px;
  box-sizing: border-box;
}
.locked_block {
  display: flex;
  margin-left: 32px;
}
.locked_block  span {
  cursor: default;
}
.container {
  flex: 1;
  display: flex;
  position: relative;
}
.wrapper_elements {
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-left: 0;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 768px) {
.root {
  display: none;
}
}