.root{
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper{
   display: flex;
   flex: 1;
   width: 100%;
  }.wrapper_section::-webkit-scrollbar {
  width: 12px;
}
@media (max-width: 768px) {
.root {
padding-top: 16px;
   }
.header {
   padding: 0;
   font-size: 28px;
   text-align: center;
}
}