.root{
  max-width: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
}
.field {
  width: 100%;
}
.field :global(.input), .field :global(.input__container) {
  width: 100%;
}
.text {
  display: flex;
  color: #8585AD;
}
.link {
  text-decoration: none;
  color: #4C4CFF;
}
.error {
  color: red;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .root {
    position: relative;
    transform: none;
    top:0px;
    left: 0px;
  }
  .title {
    max-width: 300px;
    text-align: center;
  }
  .form {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
.text {
  display: block;
  text-align: center;
}
}
