.root {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #1C1C21;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #8585AD;
  display: flex;
  align-items: center;
}
.active {
  color: #F2F2F3;
}
.active > svg {
  fill: #F2F2F3
}

