.cards::-webkit-scrollbar {
  width: 12px;
}
.cards::-webkit-scrollbar-track {
  background: #2F2F37;
}
.cards::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}
.wrapper{
  display: flex;
  flex: 1;
  position: relative;
}
.cards {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}