.cards::-webkit-scrollbar {
  width: 12px;
}
.cards::-webkit-scrollbar-track {
  background: #2F2F37;
}
.cards::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}
.root{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.wrapper{
  flex: 1;
  display: flex;
  position: relative;
}
.cards {
  width: 48%;
  overflow: auto;
  position: absolute;
    top: 0;
    bottom: 20px;
    right: 0;
    left: 0;
}
.statistic {
  width: 48%;
  padding-left: 60px;
    position: absolute;
    top: 0;
    bottom: 20px;
    right: 0;
}
.top_block {
  display: flex;
}
.status {
  width: 50%;
}
.block_ready {
  display: flex;
}
.numbers_status {
  padding: 0;
  flex: 1;
}
.number_ready {
  color: #00CCCC;
}
.error {
  color: red;
}
@media (max-width: 768px) {
.cards::-webkit-scrollbar {
  width: 0px;
}
.root {
  width: auto;
}
.statistic {
  display: none;
}
.cards {
  width: 100%;
}
}