.form {
  width: 480px;
  padding-top: 120px;
}
.field {
  width: 100%;
}
.field :global(.input), .field :global(.input__container) {
  width: 100%;
}
.buttonBlock {
  display: flex;
  justify-content: flex-end;
}
.error {
  color: red;
  text-align: center;
}


