.root{
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}
.nav {
  max-width: 320px;
  padding-top: 120px;
}
.button {
  display: flex;
  background-color: #131316;;
  color: #8585AD;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.title {
  color: #8585AD;
  opacity: 0.4;
}
.link {
  text-decoration: none;
  color: #8585AD;
}
.active {
  text-decoration: none;
  color: #F2F2F3;
}


