.card {
  border-radius: 40px;
  background-color: #1C1C21;
}
.info {
  display: flex;
  justify-content: space-between;
}
.bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 112px;
  height: 56px;
}
.price {
  display: flex;
}