.card {
  border-radius: 40px;
  background-color: #1C1C21;
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
}
.bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section {
  display: flex;
  margin-left: -16px;
}
.price {
  display: flex;
}
@media (max-width: 768px) {
  .info > p {
    font-size: 22px;
  }
  .info > p:last-child {
    font-size: 14px;
  }
  .name > p {
    font-size: 20px;
  }
}