.card {
  border-radius: 40px;
  background-color: #1C1C21;
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
}
.bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section {
  display: flex;
  margin-left: -16px;
}
.price {
  display: flex;
}